<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="11414108" id="ru.one-touch.getlunch" version="1.0.8" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GetLunch</name>
    <description>
        GetLunch - application for search lunch
    </description>
    <author email="dpv@one-touch.ru" href="http://one-touch.ru">
        Agency ONE TOUCH
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <preference name="Orientation" value="portrait" />
    <plugin name="cordova-plugin-console" spec="^1.0.1" />
    <plugin name="cordova-plugin-contacts" spec="^1.1.0" />
    <plugin name="cordova-plugin-device" spec="^1.0.1" />
    <plugin name="cordova-plugin-device-motion" spec="^1.1.1" />
    <plugin name="cordova-plugin-device-orientation" spec="^1.0.1" />
    <plugin name="cordova-plugin-geolocation" spec="^1.0.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="^1.0.0" />
</widget>
